numpy == 1.24.3
scipy == 1.11.2
matplotlib == 3.7.0
pandas == 2.1.1
opencv-python == 4.8.1.78
scikit-learn == 1.3.1
scikit-image == 0.21.0
tensorflow[and-cuda]
keras
torch == 2.2.1
joblib == 1.3.2
seaborn == 0.13.2